ul {
  margin: 0px;
  padding: 0px;
}

li {
  margin: 0px;
  padding: 0px;
}

header nav .logo-links-cart {
  height: 115px;
}

header nav .logo-links-cart .logo a img {
  width: 205px;
  height: 25px;
}

header nav .logo-links-cart .nav-links ul {
  font-size: 12px;
  letter-spacing: 1px;
}

header nav .logo-links-cart .nav-links .sub-links {
  padding: 0;
  list-style: none;
}

header nav .logo-links-cart .nav-links .sub-links .homeLi::before {
  content: '';
  width: 0px;
}

header nav .logo-links-cart .nav-links .sub-links .homeLi:hover::before {
  content: '';
  width: 45px;
  height: 1px;
  background-color: grey;
  position: absolute;
  top: 67px;
  -webkit-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

header nav .logo-links-cart .nav-links .sub-links a {
  text-decoration: none;
  color: #1b1b1b;
}

header nav .logo-links-cart .nav-links .sub-links li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

header nav .logo-links-cart .nav-links .sub-links li .home {
  background-color: white;
  height: 0px;
  position: absolute;
  top: 115px;
  z-index: 6;
  overflow: hidden;
  width: 200px;
  margin-left: -23px;
}

header nav .logo-links-cart .nav-links .sub-links li .home ul {
  padding: 20px;
  list-style: none;
}

header nav .logo-links-cart .nav-links .sub-links li .home ul li {
  margin-top: 10px;
}

header nav .logo-links-cart .nav-links .sub-links li .home ul li a {
  text-decoration: none;
  color: #1b1b1b;
  font-size: 14px;
}

header nav .logo-links-cart .nav-links .sub-links li:hover .home {
  height: 280px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

header nav .logo-links-cart .nav-links .sub-links li .pages {
  background-color: white;
  height: 0px;
  position: absolute;
  z-index: 6;
  top: 115px;
  overflow: hidden;
  width: 200px;
  margin-left: -23px;
}

header nav .logo-links-cart .nav-links .sub-links li .pages ul {
  padding: 20px;
  list-style: none;
}

header nav .logo-links-cart .nav-links .sub-links li .pages ul li {
  margin-top: 10px;
}

header nav .logo-links-cart .nav-links .sub-links li .pages ul li a {
  text-decoration: none;
  color: #1b1b1b;
  font-size: 14px;
}

header nav .logo-links-cart .nav-links .sub-links li:hover .pages {
  height: 140px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

header nav .logo-links-cart .nav-links .sub-links li .shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
  height: 0px;
  position: absolute;
  z-index: 6;
  top: 115px;
  left: 8%;
  overflow: hidden;
  width: 1265px;
}

header nav .logo-links-cart .nav-links .sub-links li .shop ul {
  padding: 25px;
  list-style: none;
}

header nav .logo-links-cart .nav-links .sub-links li .shop ul li {
  margin-top: 0px;
  height: 10%;
}

header nav .logo-links-cart .nav-links .sub-links li .shop ul li a {
  text-decoration: none;
  color: #1b1b1b;
  font-size: 14px;
}

header nav .logo-links-cart .nav-links .sub-links li:hover .shop {
  height: 500px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

header nav .logo-links-cart .nav-links .sub-links li .portfolio {
  background-color: white;
  height: 0px;
  position: absolute;
  z-index: 1;
  top: 115px;
  visibility: hidden;
  width: 200px;
  margin-left: -23px;
}

header nav .logo-links-cart .nav-links .sub-links li .portfolio ul {
  padding: 20px;
  list-style: none;
}

header nav .logo-links-cart .nav-links .sub-links li .portfolio ul li {
  margin-top: 10px;
}

header nav .logo-links-cart .nav-links .sub-links li .portfolio ul li a {
  text-decoration: none;
  color: #1b1b1b;
  font-size: 14px;
}

header nav .logo-links-cart .nav-links .sub-links li .portfolio .portfolio-inner-layouts {
  background-color: white;
  height: 180px;
  opacity: 0;
  position: absolute;
  top: 50%;
  z-index: 2;
  left: 200px;
  overflow: hidden;
  width: 200px;
}

header nav .logo-links-cart .nav-links .sub-links li .portfolio .portfolio-inner-layouts ul {
  padding: 20px;
  list-style: none;
}

header nav .logo-links-cart .nav-links .sub-links li .portfolio .portfolio-inner-layouts ul li {
  padding-top: 8px;
  margin-top: 0px;
  height: 20%;
}

header nav .logo-links-cart .nav-links .sub-links li .portfolio .portfolio-inner-layouts ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

header nav .logo-links-cart .nav-links .sub-links li .portfolio .portfolioLayoutsLi:hover .portfolio-inner-layouts {
  height: 180px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  opacity: 1;
}

header nav .logo-links-cart .nav-links .sub-links li .portfolio .portfolio-inner-single {
  background-color: white;
  height: 180px;
  opacity: 0;
  position: absolute;
  top: 70%;
  z-index: 2;
  left: 200px;
  overflow: hidden;
  width: 200px;
}

header nav .logo-links-cart .nav-links .sub-links li .portfolio .portfolio-inner-single ul {
  padding: 20px;
  list-style: none;
}

header nav .logo-links-cart .nav-links .sub-links li .portfolio .portfolio-inner-single ul li {
  padding-top: 8px;
  margin-top: 0px;
  height: 20%;
}

header nav .logo-links-cart .nav-links .sub-links li .portfolio .portfolio-inner-single ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

header nav .logo-links-cart .nav-links .sub-links li .portfolio .portfolioSingleLi:hover .portfolio-inner-single {
  height: 180px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  opacity: 1;
}

header nav .logo-links-cart .nav-links .sub-links li:hover .portfolio {
  height: 200px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  visibility: visible;
}

header nav .logo-links-cart .nav-links .sub-links li .blog {
  background-color: white;
  height: 0px;
  position: absolute;
  opacity: 0;
  z-index: 6;
  top: 115px;
  visibility: hidden;
  width: 200px;
  margin-left: -23px;
}

header nav .logo-links-cart .nav-links .sub-links li .blog ul {
  padding: 20px;
  padding-right: 2px;
  list-style: none;
}

header nav .logo-links-cart .nav-links .sub-links li .blog ul li {
  margin-top: 10px;
}

header nav .logo-links-cart .nav-links .sub-links li .blog ul li a {
  text-decoration: none;
  color: #1b1b1b;
  font-size: 14px;
}

header nav .logo-links-cart .nav-links .sub-links li .blog .blog-inner-post {
  background-color: white;
  height: 230px;
  opacity: 0;
  position: absolute;
  top: 50%;
  z-index: 2;
  left: 200px;
  overflow: hidden;
  width: 200px;
}

header nav .logo-links-cart .nav-links .sub-links li .blog .blog-inner-post ul {
  padding: 20px;
  list-style: none;
}

header nav .logo-links-cart .nav-links .sub-links li .blog .blog-inner-post ul li {
  padding-top: 10px;
  margin-top: 0px;
  height: 20%;
}

header nav .logo-links-cart .nav-links .sub-links li .blog .blog-inner-post ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}

header nav .logo-links-cart .nav-links .sub-links li .blog .blogPostLi:hover .blog-inner-post {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  opacity: 1;
}

header nav .logo-links-cart .nav-links .sub-links li:hover .blog {
  height: 140px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  visibility: visible;
  opacity: 1;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

header nav .logo-links-cart .nav-links .sub-links li .elements {
  background-color: white;
  height: 0px;
  position: absolute;
  z-index: 6;
  top: 115px;
  overflow: hidden;
  width: 200px;
  margin-left: -23px;
}

header nav .logo-links-cart .nav-links .sub-links li .elements ul {
  padding: 20px;
  list-style: none;
}

header nav .logo-links-cart .nav-links .sub-links li .elements ul li {
  margin-top: 10px;
}

header nav .logo-links-cart .nav-links .sub-links li .elements ul li a {
  text-decoration: none;
  color: #1b1b1b;
  font-size: 14px;
}

header nav .logo-links-cart .nav-links .sub-links li:hover .elements {
  height: 160px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

header nav .menu-icon {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .menu {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0%;
  height: 100vh;
  background-color: #cfb53e;
  width: 375px;
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}

header nav .menu .closeX {
  padding: 10px;
  font-size: 19px;
}

header nav .menu .menu-nav-links {
  padding: 28px;
}

header nav .menu .menu-nav-links span i {
  font-size: 12px;
  position: relative;
  left: 1px;
  bottom: 1px;
}

header nav .menu .menu-nav-links .myRotate {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

header nav .menu .menu-nav-links ul li .menuHome {
  margin-left: 10px;
  display: none;
}

header nav .menu .menu-nav-links ul li .menuHome li a {
  font-size: 13px;
}

header nav .menu .menu-nav-links ul li .menuPages {
  display: none;
  margin-left: 10px;
}

header nav .menu .menu-nav-links ul li .menuPages li a {
  font-size: 13px;
}

header nav .menu .menu-nav-links ul li .menuShop {
  display: none;
  margin-left: 10px;
}

header nav .menu .menu-nav-links ul li .menuShop .pt {
  display: none;
}

header nav .menu .menu-nav-links ul li .menuShop .sp {
  display: none;
}

header nav .menu .menu-nav-links ul li .menuShop .st {
  display: none;
}

header nav .menu .menu-nav-links ul li .menuShop .sl {
  display: none;
}

header nav .menu .menu-nav-links ul li .menuShop ul {
  list-style: none;
}

header nav .menu .menu-nav-links ul li .menuShop ul li a {
  text-decoration: none;
  font-size: 13px;
}

header nav .menu .menu-nav-links ul li .menuShop h4 {
  font-size: 16px;
}

header nav .menu .menu-nav-links ul li .menuPortfolio {
  margin-left: 10px;
  display: none;
}

header nav .menu .menu-nav-links ul li .menuPortfolio ul {
  list-style: none;
}

header nav .menu .menu-nav-links ul li .menuPortfolio ul li a {
  text-decoration: none;
}

header nav .menu .menu-nav-links ul li .menuPortfolio .menuPortfolioLayoutsLi .menuPortfolio-inner-layouts {
  display: none;
}

header nav .menu .menu-nav-links ul li .menuPortfolio li ul {
  list-style: none;
  font-size: 12px;
}

header nav .menu .menu-nav-links ul li .menuPortfolio li a {
  font-size: 13px;
  text-decoration: none;
}

header nav .menu .menu-nav-links ul li .menuPortfolio .menuPortfolioSingleLi .menuPortfolio-inner-single {
  display: none;
}

header nav .menu .menu-nav-links ul li .menuBlog {
  display: none;
  margin-left: 10px;
}

header nav .menu .menu-nav-links ul li .menuBlog ul {
  list-style: none;
}

header nav .menu .menu-nav-links ul li .menuBlog ul .menuBlogPostLi .menuBlog-inner-post {
  display: none;
}

header nav .menu .menu-nav-links ul li .menuBlog ul .menuBlogPostLi .menuBlog-inner-post ul {
  list-style: none;
}

header nav .menu .menu-nav-links ul li .menuBlog ul .menuBlogPostLi .menuBlog-inner-post ul li a {
  text-decoration: none;
  font-size: 13px;
}

header nav .menu .menu-nav-links ul a {
  text-decoration: none;
  color: red;
}

main #flowers3 {
  position: relative;
}

main #flowers3 .imagesSlide {
  overflow: hidden;
}

main #flowers3 .imagesSlide .imgScale {
  position: relative;
}

main #flowers3 .imagesSlide .imgScale img {
  opacity: 0;
  position: relative;
  z-index: -2;
  -webkit-animation: linear 0s normal none infinite running zoom;
          animation: linear 0s normal none infinite running zoom;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  width: 100%;
  height: 477px;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.4;
  }
  to {
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
    opacity: 1;
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.4;
  }
  to {
    -webkit-transform: scale(1.12);
            transform: scale(1.12);
    opacity: 1;
  }
}

main #flowers3 .imagesSlide .clickright {
  position: absolute;
  -webkit-transform: translate(1%, -50%);
          transform: translate(1%, -50%);
  font-size: 45px;
  top: 50%;
  right: 1%;
  color: #c2c2c2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  cursor: pointer;
}

main #flowers3 .imagesSlide .clickright:hover {
  color: black;
}

main #flowers3 .imagesSlide .clickleft {
  position: absolute;
  -webkit-transform: translate(1%, -50%);
          transform: translate(1%, -50%);
  font-size: 45px;
  top: 50%;
  left: 1%;
  color: #c2c2c2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  cursor: pointer;
}

main #flowers3 .imagesSlide .clickleft:hover {
  color: black;
}

main #flowers3 .flowersInfo {
  margin-left: 5%;
  -webkit-transition: 5.5s;
  transition: 5.5s;
  position: absolute;
  top: 50%;
  left: 5%;
  -webkit-transform: translate(5%, -50%);
          transform: translate(5%, -50%);
  width: 380px;
}

main #flowers3 .flowersInfo .Infos {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main #flowers3 .flowersInfo .Infos .titleInfo span {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 50px;
  font-weight: 500;
  margin-left: 10px;
  font-weight: lighter;
  line-height: 1;
}

main #flowers3 .flowersInfo .Infos .titleInfo span:nth-child(2) {
  color: red;
}

main #flowers3 .flowersInfo .descInfo {
  margin-top: 25px;
}

main #flowers3 .flowersInfo .descInfo p {
  opacity: 60%;
  padding-left: 10px;
  font-size: 14px;
}

main #flowers3 .flowersInfo .signatureInfo {
  padding-left: 10px;
  margin-top: 25px;
}

main #flowers3 .flowersInfo .signatureInfo img {
  width: 190px;
}

main #productList {
  padding-bottom: 50px;
  margin-top: 50px;
}

main #productList .title-filter .productTitle ul {
  margin-bottom: 20px;
}

main #productList .title-filter .productTitle ul li {
  list-style: none;
}

main #productList .title-filter .productTitle ul li a {
  text-decoration: none;
  color: grey;
  font-size: 12px;
}

main #productList .products .product {
  cursor: pointer;
  margin-top: 15px;
}

main #productList .products .product:hover .text {
  opacity: 1;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main #productList .products .product:hover .price {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main #productList .products .product .text {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main #productList .products .product .image {
  overflow: hidden;
  position: relative;
}

main #productList .products .product .image .sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 29px;
  background-color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: center;
  z-index: 10;
}

main #productList .products .product .image .sale span {
  color: black;
}

main #productList .products .product .image .sold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 29px;
  background-color: black;
  position: absolute;
  top: 15px;
  left: 15px;
  text-align: center;
  z-index: 10;
}

main #productList .products .product .image .sold span {
  color: white;
}

main #productList .products .product .image:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

main #productList .products .product .image img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 295px;
  height: 380px;
}

main #productList .products .product .productName {
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 1.5px;
}

main #productList .products .product .productPrice {
  width: 100%;
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
  color: grey;
}

main #productList .products .product .productPrice .price {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  right: 35px;
}

#video {
  background-color: #f7f7f7;
}

#video .video-article {
  padding: 10% 0px;
}

#video .video-article .videoImg {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  cursor: pointer;
}

#video .video-article .videoImg .icon {
  position: absolute;
  z-index: 10;
}

#video .video-article .videoImg .icon i {
  color: white;
  background-color: red;
  border-radius: 50%;
  font-size: 85px;
}

#video .video-article .videoImg img {
  width: 650px;
  height: 420px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#video .video-article .videoImg img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#video .video-article .article .title {
  margin-top: 20px;
}

#video .video-article .article .title h5 {
  line-height: 120%;
  font-size: 35px;
}

#video .video-article .article .title h5 span {
  color: red;
}

#video .video-article .article .desc {
  margin-top: 15px;
}

#video .video-article .article .list ul {
  margin-top: 15px;
  list-style: none;
  font-size: 20px;
}

#video .video-article .article .list ul li {
  margin-top: 8px;
}

#flowerExpert .info-experts .info {
  margin-top: 10%;
}

#flowerExpert .info-experts .info .title {
  text-align: center;
}

#flowerExpert .info-experts .info .title h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 38px;
}

#flowerExpert .info-experts .info .desc {
  text-align: center;
  color: grey;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

#flowerExpert .info-experts .experts {
  padding-bottom: 10%;
}

#flowerExpert .info-experts .experts .expert {
  margin-top: 6%;
  text-align: center;
}

#flowerExpert .info-experts .experts .expert .expName {
  font-size: 14px;
  margin-top: 8%;
}

#flowerExpert .info-experts .experts .expert .expProfession {
  font-size: 12px;
  margin-top: 3%;
  color: grey;
}

#myParallax .parallax-window {
  min-height: 500px;
  background: transparent;
}

#myParallax .parallax-window .parallaxText {
  position: relative;
  top: 35%;
}

#myParallax .parallax-window .parallaxText h2 {
  color: white;
}

#myParallax .parallax-window .registration button {
  height: 60px;
  width: 32%;
  padding: 0;
  background-color: #f64b3a;
  color: #fce3ff;
  font-size: 13px;
  border: solid 1px #f64b3a;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-top: 4%;
}

#myParallax .parallax-window .registration button:hover {
  background-color: #fe3e2b;
  border: solid 1px #fe3e2b;
}

#myParallax .parallax-window .registration input {
  width: 466px;
  height: 60px;
  padding: 0;
  font-size: 12px;
  padding-left: 3%;
  margin-top: 4%;
}

#blog {
  background-color: #f8f8f8;
}

#blog .blogArticle {
  padding-top: 8%;
}

#blog .blogArticle .blogDesc {
  padding-top: 1%;
  padding-bottom: 2%;
  color: grey;
}

#blog .blogImages .blogImage .image {
  overflow: hidden;
  cursor: pointer;
}

#blog .blogImages .blogImage .image .date {
  width: 98px;
  height: 32px;
  background-color: white;
  position: absolute;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 9px;
}

#blog .blogImages .blogImage .image .date span {
  color: black;
  font-size: 11px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#blog .blogImages .blogImage .image .date span:hover {
  color: red;
}

#blog .blogImages .blogImage .image img {
  height: 266px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#blog .blogImages .blogImage .image img:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

#blog .blogImages .blogImage .imageName {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 4%;
  cursor: pointer;
}

#blog .blogImages .blogImage .imageDesc {
  text-align: center;
  color: grey;
  padding-bottom: 20%;
}

#slider .owl-carousel .item .sliderInfosImage {
  padding-top: 6%;
  padding-bottom: 7%;
}

#slider .owl-carousel .item .sliderInfosImage .innerSliderInfosImage .sliderImage img {
  padding-bottom: 15px;
}

footer .footer {
  background-color: #fefaf3;
}

footer .footer .topFooter ul {
  padding-top: 6%;
  padding-bottom: 4%;
  list-style: none;
}

footer .footer .topFooter ul h5 {
  margin-bottom: 19px;
  font-size: 13px;
}

footer .footer .topFooter ul li a {
  text-decoration: none;
  color: grey;
  font-size: 11px;
}

footer .footer .bottomFooter {
  margin-top: 10px;
  padding-bottom: 15px;
}

footer .footer .bottomFooter .rights {
  font-size: 12px;
  color: grey;
}

footer .footer .bottomFooter .socialMedia span {
  margin-right: 15px;
}

footer .footer .bottomFooter .socialMedia span a {
  text-decoration: none;
  color: grey;
  font-size: 11px;
}

#shopproductNameLis {
  background-color: #fafaf9;
}

#shopproductNameLis h1 {
  padding-top: 4%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 55px;
}

#shopproductNameLis p {
  font-size: 17px;
  color: grey;
  padding-bottom: 4%;
}

#shopOrangeAmaryllis {
  padding-bottom: 8%;
}

#shopOrangeAmaryllis .shopAmeryllisImages .smallImages {
  margin-top: 4%;
}

#shopOrangeAmaryllis .shopAmeryllisImages .smallImages .image {
  margin-top: 20px;
}

#shopOrangeAmaryllis .shopAmeryllisImages .smallImages .image img {
  width: 118px;
  height: 145px;
}

#shopOrangeAmaryllis .shopAmeryllisImages .bigImage {
  margin-top: 7.1%;
}

#shopOrangeAmaryllis .shopAmeryllisImages .bigImage img {
  margin-left: 6%;
  width: 498px;
  height: 642px;
}

#shopOrangeAmaryllis .shopAmeryllisInfo {
  position: relative;
  left: 5%;
  top: 45px;
}

#shopOrangeAmaryllis .shopAmeryllisInfo .title h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
}

#shopOrangeAmaryllis .shopAmeryllisInfo .title p {
  font-size: 14px;
  color: grey;
}

#shopOrangeAmaryllis .shopAmeryllisInfo .desc {
  color: grey;
  font-size: 15px;
}

#shopOrangeAmaryllis .shopAmeryllisInfo .quantityButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#shopOrangeAmaryllis .shopAmeryllisInfo .quantityButton button {
  width: 181px;
  height: 51px;
  background-color: black;
  color: white;
  border: black 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#shopOrangeAmaryllis .shopAmeryllisInfo .quantityButton button:hover {
  opacity: 0.86;
}

#shopOrangeAmaryllis .shopAmeryllisInfo .quantityButton .quantity {
  width: 261px;
  height: 51px;
  border: solid 1px;
}

#shopOrangeAmaryllis .shopAmeryllisInfo .quantityButton .quantity span {
  color: grey;
  font-size: 13px;
}

#shopOrangeAmaryllis .shopAmeryllisInfo .quantityButton .quantity .icon-number input {
  width: 23px;
  border-collapse: collapse;
  border: 1px solid white;
  font-size: 12px;
  text-align: center;
}

#shopOrangeAmaryllis .shopAmeryllisInfo .quantityButton .quantity .icon-number i {
  font-size: 13px;
}

#shopDesc-info-review .shopTitle .shopDescription {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border: 1px solid #dad7d7;
  border-bottom: none;
  cursor: pointer;
}

#shopDesc-info-review .shopTitle .shopInfo {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border: 1px solid #dad7d7;
  border-left: none;
  border-bottom: none;
  cursor: pointer;
}

#shopDesc-info-review .shopTitle .shopReview {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border: 1px solid #dad7d7;
  border-left: none;
  border-bottom: none;
  cursor: pointer;
}

#shopDesc-info-review .shopDesc {
  border-top: 1px solid #dad7d7;
  border-bottom: 1px solid #dad7d7;
  margin-bottom: 3%;
}

#shopDesc-info-review .shopDesc .descCart {
  margin-top: 2%;
  padding: 3% 0;
}

#shopDesc-info-review .shopDesc .descCart .innerDesc {
  margin-top: 2%;
  font-size: 13px;
  color: grey;
}

#shopDesc-info-review .shopInfo {
  border-bottom: 1px solid #dad7d7;
  border-top: 1px solid #dad7d7;
}

#shopDesc-info-review .shopInfo .infoCart {
  padding: 3% 0;
}

#shopDesc-info-review .shopReview {
  border-bottom: 1px solid #dad7d7;
  border-top: 1px solid #dad7d7;
}

#shopDesc-info-review .shopReview button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 141px;
  height: 50px;
  background-color: #ec5555;
  color: white;
  border: solid #ec5555 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#shopDesc-info-review .shopReview button:hover {
  background-color: red;
}

.tabActive {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #f55050;
  color: white;
}

#shopRelatedProducts {
  padding: 4% 0;
}

#shopRelatedProducts h3 {
  font-size: 14px;
  color: black;
}

#shopRelatedProducts .products .product {
  cursor: pointer;
  margin-top: 15px;
}

#shopRelatedProducts .products .product:hover .text {
  opacity: 1;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#shopRelatedProducts .products .product:hover .price {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#shopRelatedProducts .products .product .text {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#shopRelatedProducts .products .product .image {
  overflow: hidden;
  position: relative;
}

#shopRelatedProducts .products .product .image .sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 29px;
  background-color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  text-align: center;
  z-index: 10;
}

#shopRelatedProducts .products .product .image .sale span {
  color: black;
}

#shopRelatedProducts .products .product .image .sold {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 29px;
  background-color: black;
  position: absolute;
  top: 15px;
  left: 15px;
  text-align: center;
  z-index: 10;
}

#shopRelatedProducts .products .product .image .sold span {
  color: white;
}

#shopRelatedProducts .products .product .image:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#shopRelatedProducts .products .product .image img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 295px;
  height: 380px;
}

#shopRelatedProducts .products .product .productName {
  font-size: 13px;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 1.5px;
}

#shopRelatedProducts .products .product .productPrice {
  width: 100%;
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
  color: grey;
}

#shopRelatedProducts .products .product .productPrice .price {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
  right: 35px;
}

#entranceTabs {
  background-color: #fafaf9;
}

#entranceTabs h1 {
  padding-top: 4%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 55px;
  padding-bottom: 4%;
}

#tabsUnderTitle .tabsLeftContent .shopTitle .tabService {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border: 1px solid #dad7d7;
  border-bottom: none;
  cursor: pointer;
}

#tabsUnderTitle .tabsLeftContent .shopTitle .tabShop {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border: 1px solid #dad7d7;
  border-left: none;
  border-bottom: none;
  cursor: pointer;
}

#tabsUnderTitle .tabsLeftContent .shopTitle .tabProduct {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #dad7d7;
  border-left: none;
  border-bottom: none;
  cursor: pointer;
}

#tabsUnderTitle .tabsLeftContent .service .shopDesc {
  border: 1px solid #dad7d7;
  border-bottom: 1px solid #dad7d7;
  padding: 4%;
}

#tabsUnderTitle .tabsLeftContent .service .shopDesc p {
  color: grey;
  font-size: 13px;
}

#tabsUnderTitle .tabsLeftContent .shop .shopInfo {
  border: 1px solid #dad7d7;
  border-bottom: 1px solid #dad7d7;
  padding: 4%;
}

#tabsUnderTitle .tabsLeftContent .shop .shopInfo p {
  color: grey;
  font-size: 13px;
}

#tabsUnderTitle .tabsLeftContent .product .shopReview {
  border: 1px solid #dad7d7;
  border-bottom: 1px solid #dad7d7;
  padding: 4%;
}

#tabsUnderTitle .tabsLeftContent .product .shopReview p {
  color: grey;
  font-size: 13px;
}

#tabsUnderTitle .tabsRightContent .shopTitle .tabService {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border: 1px solid #dad7d7;
  border-bottom: none;
  cursor: pointer;
}

#tabsUnderTitle .tabsRightContent .shopTitle .tabShop {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border: 1px solid #dad7d7;
  border-left: none;
  border-bottom: none;
  cursor: pointer;
}

#tabsUnderTitle .tabsRightContent .shopTitle .tabProduct {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #dad7d7;
  border-left: none;
  border-bottom: none;
  cursor: pointer;
}

#tabsUnderTitle .tabsRightContent .service .shopDesc {
  border: 1px solid #dad7d7;
  border-bottom: 1px solid #dad7d7;
  padding: 4%;
}

#tabsUnderTitle .tabsRightContent .service .shopDesc p {
  color: grey;
  font-size: 13px;
}

#tabsUnderTitle .tabsRightContent .shop .shopInfo {
  border: 1px solid #dad7d7;
  border-bottom: 1px solid #dad7d7;
  padding: 4%;
}

#tabsUnderTitle .tabsRightContent .shop .shopInfo p {
  color: grey;
  font-size: 13px;
}

#tabsUnderTitle .tabsRightContent .product .shopReview {
  border: 1px solid #dad7d7;
  border-bottom: 1px solid #dad7d7;
  padding: 4%;
}

#tabsUnderTitle .tabsRightContent .product .shopReview p {
  color: grey;
  font-size: 13px;
}

@media screen and (max-width: 993px) {
  header nav .logo-links-cart .nav-links {
    display: none;
  }
  header nav .logo-links-cart .search-cart {
    display: none !important;
  }
  header nav .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@font-face {
  font-family: ExtraLight;
  src: url(../fonts/Montserrat-Regular.ttf);
}

body {
  font-family: ExtraLight;
}
/*# sourceMappingURL=style.css.map */